/*BEGIN PS3 Controller Styling*/
.controller.ps {
    background: url(basecp.png);
    height: 558px;
    width: 784px;
    /*    margin-left: -392px;
        margin-top: -259px;*/
}
/*END PS3 Controller Styling*/

